@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@300;400;500;700&family=Staatliches&display=swap');

.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  width: 100%;
  justify-content: left;
  background-image: url('../assets/layered-waves-haikei.png');
  background-size: cover;
  background-position: 60% 50%;
  margin: 0 auto;
  text-align: right;
}

.intro h1 {
  font-family: 'Staatliches', cursive;
  font-size: 8em;
  line-height: 1;
  margin-bottom: 0;
}

.intro h3 {
  line-height: 1;
  margin-bottom: 0;
  color: white;
}

.intro__content {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  max-width: 90%;
  flex-grow: 1;
}

.intro__image {
  width: 50%;
  align-self: center;
  min-width: 400px;
  flex-grow: 1;
}

.intro__image img {
  width: 100%;
  height: auto;
  clip-path: circle(40% at 50% 50%);
  margin: 0 auto;
}

@media screen and (max-width:800px) {
  .intro__image img {
    max-width: 400px;
    margin-right: -50px;

  }

  .intro__image {
    text-align: right;
    max-width: 90%;
  }
}

@media screen and (max-width:500px) {
  .intro__image {
    text-align: center;
    max-width: 100%;
    min-width: 100%;
  }
  .intro__image img {
    max-width: 320px;
    margin-right: 0;
  }

  .intro__content {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    max-width: 90%;
    text-align: right;
  }

  .intro h1 {
    font-family: 'Staatliches', cursive;
    font-size: 6em;
  }
}