.intro__nav ul {
  padding: 0;
}

.intro__nav a {
  font-size: var(--global-font-large-medium);
  padding: 25px;
  color: white;
}

.intro__nav-icon:visited {
  color: white;
}

.intro__nav-icon:hover {
  transform: scale(1.5);
}

@media screen and (max-width:500px) {
  .intro__nav a:last-child {
    padding-right: 0px;
  }
}