.projects{
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.projects__body {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px 50px;
  flex-wrap: wrap;
}