.slider__image {
  width: 80%;
  opacity: 0.5;
}

.slider__div img:hover {
  opacity: 1;
  height: 100%;
}

.slider {
  width: calc(50% - 70px);
  margin: 125px 35px 0 35px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:1024px) {
  .slider {
    margin-top: 200px;
  }

  .slider__image {
    width: 100%;
    height: 100%;
  }

  .slider__div img{
    width: 90%;
  }
}

@media screen and (max-width:600px) {
  .slider {
    margin-top: 50px;
    width: calc(100% - 70px);
  }
}
