.tecnologies {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 50px auto;
}

.tecnologies__body {
  display: flex;
  flex-direction: row;
}

.tecnologies__content{
  width: 50%;
  text-align: right;
}

@media screen and (max-width:600px) {
  .tecnologies__body {
    flex-direction: column;
  }

  .tecnologies__content {
    width: 100%;
  }
}