@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@300;400;500;700&family=Staatliches&display=swap');

:root {
  font-family: 'Anybody', cursive;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  background-color: #242424;
  color: #007c5b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --global-font-large-small: 36px;
  --global-font-large-medium: 44px;
  --global-font-large-large: 52px;
  --global-font-medium: 26px;
  --global-font-small: 20px;
}

h1 {
  font-size: var(--global-font-large-large);
}

h2 {
  font-size: var(--global-font-large-medium);
}

h3 {
  font-size: var(--global-font-large-small);
}

p {
  font-size: var(--global-font-small);
}

#root {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: var(--global-font-large-small);
  }

  h2 {
    font-size: var(--global-font-large-small);
  }

  h3 {
    font-size: var(--global-font-medium);
  }
  
  p {
    font-size: 18px;
  }
}
